<div class="animate__animated animate__fadeIn animate__faster">

  <h3>Buscar por región <small> {{ regionActiva | titlecase }}</small></h3>
  <hr>

  <h5>Seleccione la Region</h5>

  <div class="row">
    <div class="col">

      <!-- [class.btn-primary]="region === regionActiva" -->

      <!-- [ngClass]="{
        'btn-primary': regionActiva === region,
        'btn-btn-outline-primary': regionActiva !== region,
      }" -->

        <button *ngFor="let region of regiones"

                [class]=" getClaseCSS( region )"
                (click)="activarRegion ( region )">
          {{ region | titlecase}}
        </button>
    </div>
  </div>

</div>



<div *ngIf=" paises.length > 0 " class="row"> <!-- Si no hay error entonces muestra la tabla -->
  <div class="col">

    <app-pais-tabla [paises]="paises"></app-pais-tabla> <!-- Con esto nos aseguramos que la inyeccion muestre la info -->

  </div>
</div>
